
.list-item {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    
.list {
    color: var(--accent-color);
    list-style: none;
    text-decoration: none;
}


